.wrapper {
    position: relative;
}
.wrapperTitle {
    font-weight: 800;
    margin-bottom: 60px;
    font-size: 24px;
}
.wrapperMessage {
    margin-left: 10px;
    color: white;
    background:  hsl(219, 12%, 42%);
    padding: 4px 14px;
    border-radius: 30px;
}
.wrapperRead {
    margin-left: 10px;
}
.link {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 18px;
    margin-top: 10px;
    color:hsl(219, 12%, 42%);
    cursor: pointer;
}
@media (max-width: 390px){
    .link {
        display: none;
    }

}

